{% extends 'base.html'%}

{% block title %}
Soup Site || Home Page
{% endblock %}
{% block css %} 
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css')}}">
{% endblock %}
{% block content %}

<h1 class="center">Home Page</h1>
{%if session.user %}
    <p class="center"> Welcome {{session.user}}</p>
    {%if session.user == 'admin' %}
    <button id="toggle" class="toggle_edit" onclick="toggle_edit()">Post</button>
    <div class="blog_module" style="display: none;">
        <div class="blog_text_panel">
            <form action="#" method="post" class="edit_blog_form">
            <!-- <div class="blog_button_panel">
                <button name="italics"><i>i</i></button>
                <button name="underline"><u>u</u></button>
                <button name="bold"><b>b</b></button>
            </div> -->
            <textarea name="edit_blog_title" class="edit_blog_title" id="" role="text" placeholder="Title goes here..." required></textarea>
            <textarea name="edit_blog_content" class="edit_blog_content" id="" role="text" placeholder="Content goes here..." required></textarea>
            <button class="edit_blog_button" onclick="" type="submit">Submit</button>
            </form>
        </div>
    </div>
    {% endif %}
{% endif %}

<article class="blog">
    {% for entry in list %}
        <h2 class = "blog_title"> {{ entry.title }} - {{ entry.date.date() }}</h2>
        <p class = "blog_content"> {{ entry.content }} </p>
    {% endfor %}
</article>



{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

{% endblock %}

