{% extends 'base.html'%}

{% block title %}
Soup Site || Home Page
{% endblock %}
{% block css %} 
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css')}}">
{% endblock %}
{% block content %}

<h1 class="center">Home Page</h1>

{%if session.user %}
    <p class="center"> Welcome {{session.user}}</p>
{% endif %}

<article class="blog">
    {% for entry in list %}
        <h2 class = "blog_title"> {{ entry.title }} - {{ entry.date.date() }}</h2>
        <p class = "blog_content"> {{ entry.content }} </p>
    {% endfor %}
</article>

{%if session.user %}
{%if session.user == 'admin' %}
<form action="#", method="post">
    <p><input type="text" name="edit_blog_title" id="" placeholder="Title Goes Here"></p>
    <p><input type="text" name="edit_blog_content" id="" placeholder="Blog Content goes here"></p>
    <p><input type="submit" value="edit" class="submit"></p>
</form>
{% endif %}
{% endif %}

{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

{% endblock %}