.center{
    margin: auto;
    text-align: center;
    padding: 10px;
    color: aquamarine;
}
article{
    background-color: #B1DDF1;
    border-bottom-right-radius: 10%;  
    padding-top: 20px;
}
.blog_title {
    color: black;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 5px;
    font-size: 24px;
}
.blog_content {
    background-color: #173644;
    text-align: left;
    padding: 25px;
    border-bottom-right-radius: 10%;  
}
.submit{
    border: none;
    color: black;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 35%;
}